body{

    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    font-family: "DM-Sans", sans-serif;



}



input:focus{
    outline: none;



}

a, nav button{
    text-decoration: none;
    background: transparent;

    border: none;
    color:rgb(0, 0, 0);

    font-size: 1.2em;
    cursor: pointer;
}

a:hover, nav:hover{
    color:rgb(80, 80, 80);



}